<div class="flex flex-row">
  <div class="group-content w-12">
    <header class="flex justify-content-between align-items-center">
      <button
        pButton
        icon="pi pi-angle-left"
        (click)="back()"
        class="member-button p-button-text"
      ></button>
      <h2>{{ group?.GroupName }} in {{ group?.StateName }}</h2>
      <p-badge
        value="{{ group?.Members?.length }}/{{ group?.MaxGroupSize }}"
        severity="{{isMaxCapacity() ? 'success' :'warning'}}"
      ></p-badge>
      <!-- ngClass="{{group.Members.length < group.MaxGroupSize ? 'br-green-400' : 'surface-400'}}" -->
    </header>
    <div class="flex justify-content-between align-items-start">
      <section class="member-info">
        <p>Hiking Lead: {{ group?.SponsorName }}</p>
        <p>Email: {{ group?.SponsorEmail }}</p>
        <p>Phone: {{ group?.SponsorPhone }}</p>
      </section>
      <p-button
        label="Add Hiker"
        icon="pi pi-plus"
        iconPos="left"
        [disabled]="!isMaxCapacity()"
        (click)="showDialog('')"
      ></p-button>
    </div>
  </div>
</div>
<p-divider align="left"><h2>Hiker Information</h2></p-divider>
<p *ngIf="members?.length < 1" class="empty">No hikers are part of this group yet. Press 'Add Hiker' above to add hikers.</p>
<ul *ngIf="members?.length > 0">
  <li *ngFor="let member of members" >
    <div class="flex justify-content-between align-items-center">
      <div>
        <p>{{ member?.MemberName }}</p>
        <p>{{ member?.MemberEmail }}</p>
        <p>{{ member?.MemberPhone }}</p>
      </div>
      <p-button
        type="button"
        icon="pi pi-pencil"
        (click)="showDialog(member)"
      ></p-button>
    </div>
    <p-divider></p-divider>
  </li>
</ul>
<app-member-modal
  *ngIf="display"
  [groupId]="group.GroupId"
  (close)="close($event)"
  [selectedMember]="selectedMember"
></app-member-modal>
