<button
  pButton
  icon="pi pi-angle-left"
  (click)="back()"
  class="member-button p-button-text"
></button>
<app-group [group]="group"></app-group>
<p-button
  label="Add Member"
  icon="pi pi-plus"
  iconPos="left"
  (click)="showDialog('')"
></p-button>
<ul>
  <li *ngFor="let member of members" class="flex justify-content-between">
    <div>
      <p>{{ member.MemberName }}</p>
      <p>{{ member.MemberEmail }}</p>
      <p>{{ member.MemberPhone }}</p>
    </div>
    <p-button
      type="button"
      icon="pi pi-pencil"
      (click)="showDialog(member)"
    ></p-button>
  </li>
</ul>
<app-member-modal
  *ngIf="display"
  [groupId]="group.GroupId"
  (close)="close($event)"
  [selectedMember]="selectedMember"
></app-member-modal>
