/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif; 
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: auto;
}