
.list-item-wrapper {
  width: 100%;
}

h2 {
  height: 2em;
  text-align: center;
  margin: 0;
}

.member-button {
  height: 100%;
}

.group-content {
  width: 100%;
}

header {
  margin-top: 10px;
}

.header-container > *{
  margin: 0;
  text-align: center;
  height: 1.2em;
}

:host ::ng-deep {
  .grid {
    flex-direction: column;
  }
}

.p-button.p-button-text:enabled:hover {
  color: var(--blue-800);
  background-color: var(--blue-100);
}