<h2>{{ selectedState ? 'Hiking groups in ' + selectedState : 'All hiking groups' }}</h2>
<p-dataView [value]="filteredGroups" #dv filterBy="GroupName">
  <ng-template pTemplate="header">
    <div class="flex justify-content-between">
      <div class="flex w-8">
        <span class="p-input-icon-left mb-2 md:mb-0 w-10">
          <i class="pi pi-search"></i>
          <input
            type="search"
            pInputText
            placeholder="Search by Group Name"
            (input)="dv.filter($any($event.target)?.value, 'contains')"
            class="w-12"
          />
        </span>
        <span class="p-float-label">
          <p-dropdown
            [options]="states"
            placeholder="Select a State"
            [(ngModel)]="selectedState"
            (ngModelChange)="filterState(selectedState)"
            [showClear]="true"
          ></p-dropdown>
        </span>
      </div>
      <p-button
        label="Add Group"
        icon="pi pi-plus"
        iconPos="left"
        (click)="showDialog('')"
      ></p-button>
    </div>
  </ng-template>
  <ng-template let-group pTemplate="listItem" class="list-item-wrapper">
    <div class="flex flex-row">
      <div class="group-content">
        <header class="flex justify-content-between align-items-center">
          <p-badge
            value="{{ group.Members.length }}/{{ group.MaxGroupSize }}"
            severity="{{isMaxCapacity(group) ? 'success' :'warning'}}"
            ></p-badge>
            <!-- ngClass="{{group.Members.length < group.MaxGroupSize ? 'br-green-400' : 'surface-400'}}" -->
          <div class="flex flex-column header-container">
            <h2>{{ group.GroupName }}</h2>
            <h3 *ngIf="!selectedState">{{ group.StateName }}</h3>
          </div>
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            (click)="showDialog(group)"
          ></button>
        </header>
        <section>
          <p>Hiking Lead: {{ group.SponsorName }}</p>
          <p>Email: {{ group.SponsorEmail }}</p>
          <p>Phone: {{ group.SponsorPhone }}</p>
        </section>
      </div>
      <div>
        <button
          pButton
          icon="pi pi-angle-right"
          routerLink="/members/{{ group.GroupId }}"
          (click)="selectGroup(group)"
          class="member-button p-button-text"
        >
        </button>
      </div>
    </div>
  </ng-template>
</p-dataView>

<app-group-modal
  *ngIf="display"
  [states]="states"
  [selectedState]="selectedState"
  [selectedGroup]="selectedGroup"
  (close)="close($event)"
></app-group-modal>
