<p>Search will go here</p>
<!-- <app-group *ngFor="let group of groups" [group]="group"></app-group> -->
<p-dataView [value]="filteredGroups" #dv filterBy="GroupName">
  <ng-template pTemplate="header"
    >List of Hiking Groups
    <span class="p-input-icon-left mb-2 md:mb-0">
      <i class="pi pi-search"></i>
      <input
        type="search"
        pInputText
        placeholder="Search by Group Name"
        (input)="dv.filter($any($event.target)?.value, 'contains')"
      />
    </span>
    <span class="p-float-label">
      <p-dropdown [options]="states" placeholder="Select a State" [(ngModel)]="selectedState" (ngModelChange)="filterState(selectedState)"
      [showClear]="true"></p-dropdown>
    </span>
    <p-button
      label="Add Group"
      icon="pi pi-plus"
      iconPos="left"
      (click)="showDialog()"
    ></p-button>
  </ng-template>
  <ng-template let-group pTemplate="listItem" class="list-item-wrapper">
    <div class="p-d-flex">
      <header class="p-d-flex">
        <p-badge
          value="{{ group.Members.length }}/{{ group.MaxGroupSize }}"
          severity="success"
          severity="success"
        ></p-badge>
        <h2>{{ group.GroupName }} in {{group.StateName}}</h2>
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          (click)="showDialog()"
        ></button>
      </header>
      <section>
        <p>Hiking Lead: {{ group.SponsorName }}</p>
        <p>Email: {{ group.SponsorEmail }}</p>
        <p>Phone: {{ group.SponsorPhone }}</p>
      </section>
      <button routerLink="/members/{{ group.GroupName }}" [state]="{group}">
        Members
      </button>
    </div>
  </ng-template>
</p-dataView>
<p-dialog header="Add New Group" [(visible)]="display">
  <app-group-modal [states]="states"></app-group-modal>
</p-dialog>
