<h1>The Hiking Collective</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim praesentium similique provident! Placeat dignissimos consequatur odit illo perferendis, inventore laudantium doloribus dolorem autem expedita cumque rem id animi dolore numquam.</p>
<blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, autem ratione!</blockquote>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum ullam repellat reprehenderit et laborum accusantium quae qui? Dicta necessitatibus accusantium expedita fugiat blanditiis fuga consequuntur voluptatem eos, quidem omnis similique.</p>
<section *ngFor="let state of states">
  <app-state-card [state]="state"></app-state-card>
</section>