<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim praesentium
  similique provident! Placeat dignissimos consequatur odit illo perferendis,
  inventore laudantium doloribus dolorem autem expedita cumque rem id animi
  dolore numquam.
</p>
<blockquote>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, autem
  ratione!
</blockquote>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum ullam
  repellat reprehenderit et laborum accusantium quae qui? Dicta necessitatibus
  accusantium expedita fugiat blanditiis fuga consequuntur voluptatem eos,
  quidem omnis similique.
</p>
<button pButton routerLink="groups" class="p-button-text" icon="pi pi-angle-right" iconPos="right">View all groups</button>
<app-state-card *ngFor="let state of states; index as i" [state]="state" class="state-card flex flex-column" [left]="i % 2 === 0 ? true : false"></app-state-card>
