<p-dialog
  header="{{ isNewGroup ? 'Add Group' : 'Edit Group' }}"
  [(visible)]="visible"
  (onHide)="closeModal()"
>
  <form
    [formGroup]="groupForm"
    (ngSubmit)="
      isNewGroup ? onSubmit(groupForm.value) : onUpdate(groupForm.value)
    "
    class="flex flex-column gap-3"
  >
    <span class="flex flex-column">
      <label for="StateName">State: </label>
      <p-dropdown
        id="StateName"
        [options]="states"
        formControlName="StateName"
        placeholder="Select a State"
        [showClear]="true"
      ></p-dropdown>
      <label
        for="GroupName"
        class="validate"
        *ngIf="!groupForm.controls['StateName'].valid && groupForm.controls['StateName'].touched"
        >Please select a state.</label
      >
    </span>
    <span class="flex flex-column">
      <label for="GroupName">Hiking group name: </label>
      <input
        id="GroupName"
        name="GroupName"
        pInputText
        type="text"
        formControlName="GroupName"
        required
      />
      <label
        for="GroupName"
        class="validate"
        *ngIf="!groupForm.controls['GroupName'].valid && groupForm.controls['GroupName'].touched"
        >Please enter group name.</label
      >
    </span>
    <span class="flex flex-column">
      <label for="MaxGroupSize">Max group size</label>
      <p-inputNumber
        formControlName="MaxGroupSize"
        id="MaxGroupSize"
        [min]="0"
        [max]="50"
        [showButtons]="true"
      ></p-inputNumber>
      <label
        for="MaxGroupSize"
        class="validate"
        *ngIf="!groupForm.controls['MaxGroupSize'].valid && groupForm.controls['MaxGroupSize'].touched"
        >Please enter max group size.</label
      >
    </span>
    <p-divider align="left"><p>Hiking Lead Information</p></p-divider>
    <span class="flex flex-column">
      <label for="SponsorName">Name: </label>
      <input
        id="SponsorName"
        pInputText
        type="text"
        formControlName="SponsorName"
      />
      <label
        for="SponsorName"
        class="validate"
        *ngIf="!groupForm.controls['SponsorName'].valid && groupForm.controls['SponsorName'].touched"
        >Please enter hiking lead's name.</label
      >
    </span>
    <span class="flex flex-column">
      <label for="SponsorPhone">Phone Number</label>
      <input
        id="SponsorPhone"
        pInputText
        type="text"
        formControlName="SponsorPhone"
      />
      <label
        for="SponsorPhone"
        class="validate"
        *ngIf="!groupForm.controls['SponsorPhone'].valid && groupForm.controls['SponsorPhone'].touched"
        >Please enter hiking lead's phone.</label
      >
    </span>
    <span class="flex flex-column">
      <label for="SponsorEmail">Email</label>
      <input
        id="SponsorEmail"
        pInputText
        type="text"
        formControlName="SponsorEmail"
      />
      <label
        for="SponsorEmail"
        class="validate"
        *ngIf="!groupForm.controls['SponsorEmail'].valid && groupForm.controls['SponsorEmail'].touched"
        >Please enter hiking lead's email.</label
      >
    </span>
    <div class="flex justify-content-between">
      <div>
        <button
          *ngIf="!isNewGroup"
          pButton
          type="button"
          (click)="deleteGroup($event)"
          label="Delete"
          class="p-button-danger"
        ></button>
      </div>
      <div class="flex gap-1">
        <button
          pButton
          type="reset"
          (click)="closeModal()"
          label="Cancel"
          class="p-button-secondary"
        ></button>
        <button
          pButton
          type="submit"
          label="{{ isNewGroup ? 'Add Group' : 'Save' }}"
        ></button>
      </div>
    </div>
    <p-confirmPopup></p-confirmPopup>
  </form>
</p-dialog>
