<p-dialog
  header="{{ isNewGroup ? 'Add Group' : 'Edit Group' }}"
  [(visible)]="visible"
  (onHide)="closeModal()"
>
  <form
    [formGroup]="groupForm"
    (ngSubmit)="
      isNewGroup ? onSubmit(groupForm.value) : onUpdate(groupForm.value)
    "
    class="flex flex-column gap-3"
  >
    <span class="flex flex-column">
      <label for="state-name">State: </label>
      <p-dropdown
        id="state-name"
        [options]="states"
        formControlName="StateName"
        placeholder="Select a State"
        [showClear]="true"
      ></p-dropdown>
    </span>
    <span class="flex flex-column">
      <label for="group-name">Hiking group name: </label>
      <input
        id="group-name"
        pInputText
        type="text"
        formControlName="GroupName"
      />
    </span>
    <span class="flex flex-column">
      <label for="group-name">Hiking lead name: </label>
      <input
        id="group-name"
        pInputText
        type="text"
        formControlName="SponsorName"
      />
    </span>
    <span class="flex flex-column">
      <label for="group-name">Hiking lead phone number</label>
      <input
        id="group-name"
        pInputText
        type="text"
        formControlName="SponsorPhone"
      />
    </span>
    <span class="flex flex-column">
      <label for="group-name">Hiking lead email</label>
      <input
        id="group-name"
        pInputText
        type="text"
        formControlName="SponsorEmail"
      />
    </span>
    <span class="flex flex-column">
      <label for="group-name">Max group size</label>
      <p-inputNumber
        formControlName="MaxGroupSize"
        [min]="0"
        [max]="100"
      ></p-inputNumber>
    </span>
    <div class="flex justify-content-between">
      <div>
        <button
          *ngIf="!isNewGroup"
          pButton
          type="button"
          (click)="deleteGroup($event)"
          label="Delete"
          class="p-button-danger"
        ></button>
      </div>
      <div class="flex gap-1">
        <button
          pButton
          type="reset"
          (click)="closeModal()"
          label="Cancel"
        ></button>
        <button
          pButton
          type="submit"
          label="{{ isNewGroup ? 'Add Group' : 'Save' }}"
        ></button>
      </div>
    </div>
    <p-confirmPopup></p-confirmPopup>
  </form>
</p-dialog>
