<span class="p-float-label">
  <input id="group-name" pInputText type="text" pInputText [(ngModel)]="groupName"/>
  <label for="group-name">State name</label>
</span>
<!-- <span class="p-float-label">
  <input id="group-name" pInputText type="text" pInputText [(ngModel)]="groupName"/>
  <label for="group-name">Group name</label>
</span>
<span class="p-float-label">
  <input id="group-name" pInputText type="text" pInputText [(ngModel)]="groupName"/>
  <label for="group-name">Hiking lead name</label>
</span>
<span class="p-float-label">
  <input id="group-name" pInputText type="text" pInputText [(ngModel)]="groupName"/>
  <label for="group-name">Hiking lead phone number</label>
</span>
<span class="p-float-label">
  <input id="group-name" pInputText type="text" pInputText [(ngModel)]="groupName"/>
  <label for="group-name">Hiking lead email</label>
</span>
<span class="p-float-label">
  <p-inputNumber [(ngModel)]="groupName" [min]="0" [max]="100"></p-inputNumber>
  <label for="group-name">Max group size</label>
</span> -->